# ------------------------
# Virtual Environments
# ------------------------
VAE_ENV/
dcgan_env/
.venv/
venv/
.env/
*/env/
*/ENV/
*/.env/
*/.venv/

# ------------------------
# Python Cache / Build
# ------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
build/
dist/

# ------------------------
# Jupyter Notebook
# ------------------------
.ipynb_checkpoints/

# ------------------------
# OS / Editor Garbage
# ------------------------
.DS_Store
Thumbs.db
.vscode/
.idea/
